In [1]:
# most tranding news on hacker rank
from bs4 import BeautifulSoup
import requests
response = requests.get("https://news.ycombinator.com/")
yc_webpage = response.text
soup = BeautifulSoup(yc_webpage,"html.parser" )
tag = soup.find_all(name = "span" , class_ = "titleline")
article_text = []
article_link = []
for i in tag:
    text = i.find(name="a").get_text()
    article_text.append(text)
    link = i.find(name="a").get("href")
    article_link.append(link)
upvotes = [int(i.get_text().split()[0]) for i in soup.find_all(name = "span" , class_ = "score")]

import pandas as pd
df = pd.DataFrame(list(zip(article_text,article_link,upvotes)) , columns=['text','link','upvotes'])
# df.to_csv("Hacker_news.csv")

print(max(upvotes))
print(article_text[upvotes.index(max(upvotes))])
print(article_link[upvotes.index(max(upvotes))])

399
Life Is Short (2016)
http://paulgraham.com/vb.html

In [2]:
# Top 100 Movies For all time
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import requests
URL = "https://www.imdb.com/list/ls055592025/"
response = requests.get(URL)
web_html = response.text
soup = BeautifulSoup(web_html , "html.parser")
tag = soup.find_all(name = "h3",class_ = "lister-item-header")
movie_rank = []
movie_name = []
movie_year = []
for i in tag:
    rank = i.find(name = "span",class_="lister-item-index unbold text-primary").get_text()
    movie_rank.append(int(rank.replace(".","")))
    Name = i.find("a").get_text()
    movie_name.append(Name)
    Year = i.find(name = "span",class_="lister-item-year text-muted unbold").get_text()
    movie_year.append(Year)
df = pd.DataFrame(list(zip(movie_rank,movie_name,movie_year)),columns=["Rank","Title","Year"])

In [3]:
df

    Rank                     Title    Year
0      1             The Godfather  (1972)
1      2  The Shawshank Redemption  (1994)
2      3          Schindler's List  (1993)
3      4               Raging Bull  (1980)
4      5                Casablanca  (1942)
..   ...                       ...     ...
95    96               Rear Window  (1954)
96    97             The Third Man  (1949)
97    98     Rebel Without a Cause  (1955)
98    99        North by Northwest  (1959)
99   100       Yankee Doodle Dandy  (1942)

[100 rows x 3 columns]

In [4]:
# Automatic find python page from Wikipidia
from selenium import webdriver
from selenium.webdriver.common import keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

crhome_driver_path = "C:\Devlopement\chromedriver.exe"
driver = webdriver.Chrome(executable_path=crhome_driver_path)
driver.get("https://en.wikipedia.org/wiki/Main_Page")
article_count = driver.find_element(By.CSS_SELECTOR, '#articlecount a')
# article_count.click()
search = driver.find_element(By.NAME, "search")
search.send_keys("python")
search.send_keys(Keys.ENTER)

C:\Users\NOOMAN KHAN\AppData\Local\Temp\ipykernel_12108\991515528.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=crhome_driver_path)

In [ ]:
#  Automatic apply for a job on linkedin
# at the place of ---------------- fill information
# only for easy apply job
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.common.exceptions import NoSuchElementException


chrome_driver_path = "C:\Devlopement\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chrome_driver_path)
driver.get("https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Mumbai%2C%20Maharashtra%2C%20India&locationId=&geoId=106164952&f_TPR=r86400&distance=25&position=1&pageNum=0")
sighningin = driver.find_element(By.LINK_TEXT,"Sign in")
sighningin.click()
time.sleep(5)
email = driver.find_element(By.ID,"username")
email.send_keys("---------------------------")
password = driver.find_element(By.ID,"password")
password.send_keys("----------------")
password.send_keys(Keys.ENTER)

# apply = driver.find_element(By.CSS_SELECTOR,"jobs-apply-button--top-card button")
# apply.click()
time.sleep(5)

all_listings = driver.find_elements(By.CSS_SELECTOR,".job-card-container--clickable")

for listing in all_listings:
    print("called")
    listing.click()
    time.sleep(2)
    try:
        apply_button = driver.find_element(By.CSS_SELECTOR,".jobs-s-apply button")
        apply_button.click()

        time.sleep(5)
        phone = driver.find_element(By.CLASS_NAME,"fb-single-line-text__input")
        if phone.text == "":
            phone.send_keys("-----------------")
        
        submit_button = driver.find_element(By.CSS_SELECTOR,"footer button")
        if submit_button.get_attribute("data-control-name") == "continue_unify":
            close_button = driver.find_element(By.CLASS_NAME,"artdeco-modal__dismiss")
            close_button.click()
            
            time.sleep(2)
            discard_button = driver.find_elements(By.CLASS_NAME,"artdeco-modal__confirm-dialog-btn")[1]
            discard_button.click()
            print("Complex application, skipped.")
            continue
        else:
            submit_button.click()

        time.sleep(2)
        close_button = driver.find_element(By.CLASS_NAME,"artdeco-modal__dismiss")
        close_button.click()

    except NoSuchElementException:
        print("No application button, skipped.")
        continue

time.sleep(5)
driver.quit()

In [6]:
nums = list(map(int,input().split()))
target = int(input())
lis = []

for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            lis.append([i,j])
print(*lis)

126
5

print fibananci series

In [14]:
def fibonanci(n):
    lis = [0,1]
    for i in range(n-2):
        lis.append((lis[-1]+lis[-2]))
    print(*lis)

`print LCM of 3 number

In [36]:
a,b,c = map(int,input().split())
if a!=0 and b!=0 and c!=0:
    i = 1
    while True:
        if i%a==0 and i%b==0 and i%c==0:
            print(i)
            break
        else:
            i+=1
else:
    print(0)

5 25 125
125

Print HCF of three 3 Number

In [33]:
a,b,c = map(int,input().split())
for i in range(min(a,b,c),0,-1):
    if a%i==0 and b%i==0 and c%i==0:
        print(i)
        break

5 25 125
5

Find first and last position of target in a array

target = 5

array = [1,2,5,5,5,5,4,5,2]

In [41]:
array = [1,2,5,5,5,4,5,2]
target = 5
lis = []
for i in range(len(array)):
    array.index(target)

pattern printings

Input: N = 4

Output:

4 4 4 4 4 4 4

4 3 3 3 3 3 4

4 3 2 2 2 3 4

4 3 2 1 2 3 4

4 3 2 2 2 3 4

4 3 3 3 3 3 4

4 4 4 4 4 4 4

In [70]:
N = int(input())
for i in range(1,N+1):
    for j in range(1,N+1):
        min = i if i<j else j
        print(N-min+1 , end=" ")
    for j in range(N-1,0,-1):
        min = i if i<j else j
        print(N-min+1 , end=" ")
    print()
    
for i in range(N-1,0,-1):
    for j in range(1,N+1):
        min = i if i<j else j
        print(N-min+1 , end=" ")
    for j in range(N-1,0,-1):
        min = i if i<j else j
        print(N-min+1  ,end=" ")
    print()

9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9